*~
__pycache__
test_output/*.txt
models/*.model*
model_predictions/*.prediction*
model_results/*.accuracy*
model_results/*.confusion_matrix*
model_results/*.rankings*
model_results/*top_words.txt*
model_results/*.data*
model_results/*.png
report/*.aux
report/*.bbl
report/*blx.bib
report/*dvi
report/*log
report/*out
report/*run.xml
report/*~
